.body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #454d55;
}

.fit{
    margin: 0px 0px;
}

.title{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

h2{
    font-size: 36px;
}

.title p{
    text-align: left;
}

.player_name_add_form{
    margin-bottom: 20px;
}

.username{
    border: 2px white solid;
    border-radius: 20px 20px;
    padding: 5px 18px;
    background-color: white;
    color: black;
    font-size: 22px;
    text-align: center;
    width: 100px;
    display: inline;
    margin-right: 20px;
}

.players_form{
    padding-top: 40px;
    margin-top: 40px;
}

.score-board{
    margin-bottom: 40px;
}

.data{
    margin-top: 20px;
}

.table-header{
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.card-title{
    text-transform: uppercase;
    font-size: 22px;
}

.card-text{
    text-transform: uppercase;
    font-size: 18px;
}

td{
    text-align: center;
    font-size: 18px;
}

span{
    margin-right: 10px;
}

.end_panel{
    font-size: 20px;
}

.lower{
    font-size: 14px;
    font-weight: 400;
}

.help_btn{
    background-color: #17a2b8;
    color: white;
    padding: 4px 10px;
    border-radius: 100px 100px;
    text-align: center;
}

.history-card{
    margin-bottom: 20px;
    margin-top: 10px;
}

.help-btn{
}

.btn-mobile-margin{
    margin: 0px 0px;
}

@media only screen and (max-width: 480px) {
    .history-card{
        margin-right: 8px;
        margin-left: 8px;
    }

    .help-btn{
        display: block;
        width: 100%;
        margin: 6px 8px;
    }

    .btn-mobile-margin{
        margin: 6px 8px;
    }

    .clock_place{
        display: none;
    }
}

