<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <meta charset="UTF-8">
    <title>Home Darts</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="../static/js/common_functions.js"></script>
</head>
<body class="body" id="body">

<div class="main">
    <div class="row" style="margin: 0px 0px;">
        <div class="col-md-2 col-lg-2 col-sm-1"></div>
        <div class="col-md-8 col-lg-8 col-sm-10">
            <div class="title">
                <div class="row" style="margin: 0px 0px;">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <h2 id="title">
                            Home Darts Board - History
                        </h2>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p id="theme_btn" class="btn btn-outline-info pull-right" onclick="return change_theme();" style="font-size: 18px; margin-right: 10px;"><i class="fas fa-tint-slash"></i></p>
                        <a id="game_btn" class="btn btn-outline-info pull-right" href="{{url_for('game')}}" style="font-size: 18px; margin-bottom: 16px;"><i class="fas fa-long-arrow-alt-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="data" style="margin: 10px 8px;">
                <table class="table table-borderless">
                    <thead class="table-danger" id="table_header" style="background-color: #821923;">
                        <tr class="table-header" id="table_tr_header">
                                <th scope="col"></th>
                                <th scope="col">Teddy</th>
                                <th scope="col">Liza</th>
                                <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="table_body" class="table-warning" style="background-color: #9a7913; color: white;">
                        <tr>
                            <td style="font-size: 22px;">
                                Games Won:
                            </td>
                            <td style="font-size: 22px;">
                                {{teddy_score}}
                            </td>
                            <td style="font-size: 22px;">
                                {{liza_score}}
                            </td>
                            <td style="font-size: 22px;">
                                {%if teddy_score > liza_score%}
                                    Teddy
                                {%else%}
                                    Liza
                                {%endif%}
                            </td>
                        </tr>
                        {%for games_value in history_games%}
                            <tr style="font-size: 36px;">
                                <td>
                                    <i class="fas fa-clock"></i> {{played_date[loop.index0]}}
                                </td>
                                <td>
                                    {{games_value[0]}}
                                </td>
                                <td>
                                    {{games_value[1]}}
                                </td>
                                <td>
                                    {%if winners[loop.index0] == 0%}
                                        Teddy
                                    {%else%}
                                        Liza
                                    {%endif%}
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>