<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <meta charset="UTF-8">
    <title>Home Darts</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="../static/js/common_functions.js"></script>
</head>
<body class="body" id="body">

<div class="main">
    <div class="row" style="margin: 0px 0px;">
        <div class="col-md-2 col-lg-2 col-sm-1"></div>
        <div class="col-md-8 col-lg-8 col-sm-10">
            <div class="title">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <h2 id="title">
                            Home Darts Board - History
                        </h2>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <p id="theme_btn" class="btn btn-outline-info pull-right" onclick="return change_theme();" style="font-size: 18px; margin-right: 10px;"><i class="fas fa-tint-slash"></i></p>
                        <a id="game_btn" class="btn btn-outline-info pull-right" href="{{url_for('game')}}" style="font-size: 18px; margin-bottom: 16px;"><i class="fas fa-long-arrow-alt-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="score-board">
                    <div class="row" style="margin: 0px 0px;">
                        {%for game in history_games%}
                          <div class="col-sm-12 col-md-4 col-lg-4 history-card">
                            <div class="card ">
                              <div class="card-body">
                                <h5 class="card-title" style="display: block; text-align: center;"><i class="fas fa-clock"></i> {{played_date[loop.index0]}} <i class="fas fa-clock"></i> </h5>
                                  {%for name, score in game.items()%}
                                    <h5 class="card-text" id="player_score_{{loop.index0}}"><i class="fas fa-user"></i> {{name}}: {{score}}<i class="fas fa-star lower"></i> </h5>
                                  {%endfor%}
                              </div>
                            </div>
                          </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>