<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="76x76" href="../static/images/apple-icon.png">
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <meta charset="UTF-8">
    <title>Home Darts</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="../static/js/common_functions.js"></script>
    <script src="../static/js/game.js"></script>
    <script src="../static/js/game_page.js"></script>
</head>
<script>
        $('.input').keypress(function (e) {
              if (e.which == 13) {
                e.preventDefault();
                add_player_name();
                return false;
              }
            });

         let counter = 1;

        $("#playersName").focus();

        function add_player_name()
        {
            var name = $("#playersName").val();
            var email = $("#playersEmail").val();
            if (name != "" && email != "")
            {
                $("#players_form").append("<input type='hidden' name='name" + counter + "' id='name" + counter + "' value='" + $("#playersName").val() + "'>");
                $("#players_form").append("<input type='hidden' name='email" + counter + "' id='email" + counter + "' value='" + $("#playersEmail").val() + "'>");
                $("#players_form").prepend("<p class='username'> " + $("#playersEmail").val() + " (" + $("#playersName").val() + ") </p>");
                $("#playersName").val("");
                $("#playersEmail").val("");
                $("#playersEmail").focus();
                counter += 1;
            }

            if ($(':input').length > 5)
            {
                $("#start_btn").show();
            }

            if ($(':input').length > 13)
            {
                $("#player_name_add_form").hide();
                $("#help_text").hide();
            }

            return false;
        }
    </script>
<body class="body">
<div class="main">
    <div class="row" style="margin: 0px 0px;">
        <div class="col-md-2 col-lg-2 col-sm-1"></div>
        <div class="col-md-8 col-lg-8 col-sm-10">
            <div class="title">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 clock_place" style="font-size: 24px;">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h2 id="title">
                            <h2>Home Darts Board - New Shared Game</h2>
                        </h2>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a id="history_summery_btn" class="btn btn-outline-info pull-right" href="{{url_for('new_game')}}" style="font-size: 18px; margin-bottom: 16px;"><i class="fa fa-user"></i></a>
                    </div>
                </div>
            </div>
            <div class="players" id="players">
                <form class="player_name_add_form" id="player_name_add_form" onsubmit="return add_player_name();" >
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="playersEmail" aria-describedby="playersName" placeholder="Enter Player's email">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="playersName" aria-describedby="playersName" placeholder="Enter Player's name">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <p class="btn btn-outline-warning btn-block" onclick="return add_player_name();" style="color: white; font-size: 18px;">Add Player</p>
                        </div>
                    </div>

                </form>

                <h3 style="color: white;">Players names:</h3>
                <form action="{{ url_for('shared_game') }}" method="post" id="players_form" class="players_form">
                    <input type="submit" id="start_btn" class="btn btn-danger btn-block" style="color: white; font-size: 18px; margin-top: 40px; display: none;" value="Start Game">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>