<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <meta charset="UTF-8">
    <title>Home Darts</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/fontawesome/css/all.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="../static/js/common_functions.js"></script>
    <script src="../static/js/game.js"></script>
    <script src="../static/js/game_page.js"></script>
    <script src="../static/js/game_page_shared.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>
<script>
    window.player_name = "{{name}}";
    window.player_index = {{player_index}};
    window.game_id = "{{game_id}}";
    window.palyers_connected = 0;
    console.log("The game id is: " + window.game_id);

    window.board_center_x = 0;
    window.board_center_y = 0;
    window.winScore = 501;
    window.running_help_score = 0;
    window.sound = "mute";
    window.theme = "dark";
    players = [];
    {%for player in players%}
        players.push(new Player("{{player}}"));
    {%endfor%}
    window.game = new Game(players);

    // the logic of the shared connection
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
      console.log("Join send name: "  + window.player_name + ", game: " + window.game_id);
      socket.emit('joined', {
        game_id: window.game_id,
        name: window.player_name
      })
    });
    socket.on('join', function(data) {
        console.log("Join event");
        for (var i = 0; i < data["names"].length; i++)
        {
            console.log("Get back name: " + data["names"][i].toLowerCase());
            document.getElementById("status_" + data["names"][i].toLowerCase()).innerHTML = "(connected)";
        }
        window.palyers_connected = data["names"].length;
        open_close_score();
    });
    socket.on('publish_new_score', function(data) {
        console.log("publish_new_score event, data: " + data["score"]);
        $("#scoreValue").val(data["score"]);
        add_score(parseInt(data["score"]));
        open_close_score();
    });
</script>
<body class="body" id="body">

<audio id="winAudio">
  <source src="../static/sound/win_sound.mp3" type="audio/mpeg">
</audio>
<audio id="addAudioHappy">
  <source src="../static/sound/add_sound_happy.mp3" type="audio/mpeg">
</audio>

<audio id="addAudioVeryHappy">
  <source src="../static/sound/add_sound_very_happy.mp3" type="audio/mpeg">
</audio>

<audio id="addAudio020">
  <source src="../static/sound/sound_0_20.mp3" type="audio/mpeg">
</audio>

<audio id="addAudio2040">
  <source src="../static/sound/sound_20_40.mp3" type="audio/mpeg">
</audio>

<audio id="addAudio4060">
  <source src="../static/sound/sound_40_60.mp3" type="audio/mpeg">
</audio>

<audio id="addAudio69">
  <source src="../static/sound/69_score.mp3" type="audio/mpeg">
</audio>

<audio id="addAudio6080">
  <source src="../static/sound/sound_60_80.mp3" type="audio/mpeg">
</audio>

<audio id="addAudio80100">
  <source src="../static/sound/sound_80_100.mp3" type="audio/mpeg">
</audio>

<!-- Modal -->
<div class="modal fade" id="winAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="helpPanel">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Game Over!</h5>
          <!--
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            -->
      </div>
      <div class="modal-body" id="win_alert"> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="return close_alert();">Got It!</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="help_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Help Me With The Score</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
          <img src="../static/images/board.jpg" width="400px" id="board_image" ismap>
          <h3 id="help_score"></h3>
          <h3 id="help_comment">Touch the center of the board to sync first</h3>
          <p onclick="return finish_help_shared();" class="btn btn-dark btn-block" style="margin-top: 20px;">Finish</p>
      </div>
    </div>
  </div>
</div>

<div class="main">
    <div class="row" style="margin: 0px 0px;">
        <div class="col-md-2 col-lg-2 col-sm-1"></div>
        <div class="col-md-8 col-lg-8 col-sm-10">
            <div class="title">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 clock_place" style="font-size: 24px;">
                        <i class="fas fa-clock"></i> <div id="clock" style="display: inline"></div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h2 id="title">
                            Home Darts Board
                        </h2>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <p id="mute_play_btn" class="btn btn-outline-info pull-right" onclick="return mute_play();" style="font-size: 18px; margin-right: 10px;"><i class='fas fa-volume-mute'></i></p>
                        <p id="theme_btn" class="btn btn-outline-info pull-right" onclick="return change_theme();" style="font-size: 18px; margin-right: 10px;"><i class="fas fa-tint-slash"></i></p>
                    </div>
                </div>
            </div>
            <div class="players" id="players">
                <form class="player_name_add_form" id="player_name_add_form" onsubmit="return add_score_shared();">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <p onclick="return open_help();" class="help_btn btn btn-outline-info help-btn">
                                <i class="fas fa-question"></i>
                            </p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <input type="number" class="form-control btn-mobile-margin" id="scoreValue" aria-describedby="scoreValue" placeholder="Enter Next Score">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="btn btn-outline-warning btn-block btn-mobile-margin" id="add_btn_score" onclick="return add_score_shared();" style="color: white; font-size: 18px;"><i class="fas fa-plus-circle"></i> Add Score</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="score-board">
                <div class="row">
                    {%for player in players%}
                      <div class="col-sm-{{card_size}} col-md-{{card_size}} col-lg-{{card_size}}">
                        <div class="card" style="margin: 5px; 10px;">
                          <div class="card-body">
                            <h5 class="card-title" style="display: block;"><i class="fas fa-user"></i> {{player}}
                            <span class='lower' id="status_{{player}}">
                                {%if loop.index0 == 0%}
                                    (connected)
                                {%else%}
                                    (not-connected)
                                {%endif%}
                                </span>
                            </h5>
                              <h5 class="card-text" id="player_score_{{loop.index0}}"><i class="fas fa-map-marker-alt"></i> Score: 0 <span class='lower'>(Left: 501)</span></h5>
                              <h5 class="card-text" id="player_game_won_{{loop.index0}}"></h5>
                              {%if loop.index == 1%}
                                <h3><span class="badge badge-primary" style="display: none;" id="leading{{loop.index0}}">Leading!</span><span class="badge badge-dark" id="bag{{loop.index0}}">Now Playing</span></h3>
                              {%else%}
                                <h3><span class="badge badge-primary" style="display: none;" id="leading{{loop.index0}}">Leading!</span><span class="badge badge-dark" style="display: none;" id="bag{{loop.index0}}">Now Playing</span></h3>
                              {%endif%}
                          </div>
                        </div>
                      </div>
                    {%endfor%}
                </div>
            </div>
            <div id="end_panel" style="padding-top: 40px; display: none">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a href="{{url_for('shared_game_new')}}" class="btn  btn-outline-danger btn-block" style="margin: 6px 8px;"><i class="fas fa-retweet"></i> New Game</a>
                    </div>
                </div>
            </div>
            <div class="data" style="margin: 10px 4px;">
                <table class="table table-borderless">
                    <thead class="table-danger" id="table_header" style="background-color: #821923;">
                        <tr class="table-header" id="table_tr_header">
                            {%for player in players%}
                                <th scope="col">{{player}}</th>
                            {%endfor%}
                        </tr>
                  </thead>
                  <tbody id="table_body" class="table-warning" style="background-color: #9a7913; color: white;">
                    <tr id="circle0">
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    open_close_score();
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>